/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 05-Oct-2023, 10:26:31 AM
    Author     : admin
*/

/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 05-Oct-2023, 1:29:08 am
    Author     : NexGen
*/

*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#userp{
    height: 30px;
}
#userinfo
{
    width: 100%;
    height: 800px;
    background-color:#EEFEFA;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
   
}
#container
{
    height: 700px;
    width: 50%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    background-image: url("back.jpeg");
    opacity: 0.8;
    background-size: 700px 700px ;
    background-repeat: no-repeat
}
#userprofile{
    width: 45%;
    height: 250px;
}
#details{
    width: 100%;
    height: 400px;
}
#userprofilediv #userimg
{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    background-image: url("Profile.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 50px;
/*    padding: 1px;*/
    transition: 0.4s;
}
#userimg:hover
{
/*    opacity: 1;
    transform: scale(1.1);*/
}
#duser
{
    height: 40px;
    width: 150px;
    background-color:lightblue;
    margin-top: 20px;
    padding: 10px;
}
#editicon
{
    margin-left: 20px;
}
#editicon:hover
{
    transform: scale(1.2);
}
#details
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#myoption
{
    width: 80%;
    height: 35px;
    margin-left: 12.5%;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
#text1
{
    height: 38px;
    width: 70%;
    background-color: whitesmoke;
    padding: 8px;
    padding-left: 18px;
    padding-left: 18px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

#myoption button
{
        background-color: lightblue;
    border-width: 0;
    box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
    color: darkblue;
    cursor: pointer;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 1em;
    height: 50px;
    padding: 0 25px;
    height: 35px;
    width: 100px;
}
#myoption button:hover{
    
transform: scale(1.05);
}
#myoption button a
{
    text-decoration: none;
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}
#back
{
    margin-top: 30px;
    height: 35px;
    width: 70px;
    background-color: #C2FBD7;
    border-width: 0;
    box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    height: 50px;
    padding: 1px 25px;
    transition: all 200ms;
    height: 35px;
    width: 100px;

}
#back a
{
    text-decoration: none;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#last
{
    background-color: white;
    margin-left: 0px;
    text-align: center;
}



